@model AddOrEditSentArticleViewModel

<div class="row">

    <div class="col-md-4">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label float-right">مقاله</label>
                    <select class="form-control select2 " asp-items="Model.Article" id="ArticleId" name="ArticleId" tabindex="1" aria-hidden="true">
                        <option label="انتخاب مقاله"></option>
                    </select>
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label float-right">تاریخ ارسال</label>
                    <input class="form-control shamsi-date-picker" type="text" name="SentDateString" id="SentDateString" autocomplete="off">
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label float-right">تعداد کاپی</label>
                    <input class="form-control" type="text" name="CopiesCount" id="CopiesCount" autocomplete="off">
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button id="btnSubmit" class="btn-primary btn-block mg-b-10">ثبت</button>
                </div>
            </div>
        </div><!-- row -->

    </div><!-- col-3 -->

    <div class="col-md-8 overflow-auto">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th>شماره</th>
                    <th><input type="checkbox" id="selectAll" /></th>
                    <th>نام اداره</th>
                </tr>
            </thead>
            <tbody>
                @{int row = 1;
                }
                @foreach (var temp in Model.Organization)
                {
                    <tr>
                        <td>@row</td>
                        <td>
                            <input type="checkbox" />
                            <input type="hidden" name="OrganizationId" value="@temp.OrganizationId" class="" />
                        </td>
                        <td>@temp.OrganizationName</td>
                    </tr>

                    row++;
                }
            </tbody>
        </table>
    </div><!-- col-9 -->
</div>

@section scripts{
    <script src="~/plugins/shamsidatepicker/datepicker.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#datatable1').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'جستجو ...',
                    sSearch: '',
                    lengthMenu: '_MENU_ نام اداره در یک صفحه',
                }
            });

            $("input.shamsi-date-picker").persianDatepicker({ showGregorianDate: !1 });

            $("#selectAll").click(function () {
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

            });

            $("button#btnSubmit").click(function () {
                var checkedList = [];

                $("#datatable1 tbody tr").each(function () {
                    if ($(this).find("input:checkbox").is(':checked')) {
                        var o = {
                            OrganizationId: $(this).find("input:hidden").val(),
                            ArticleId: $("#ArticleId").val(),
                            SentDateString: $("#SentDateString").val(),
                            CopiesCount: $("#CopiesCount").val()
                        };
                        checkedList.push(o);
                    }
                });

                $.ajax({
                    url: "@Url.Action("AddSentArticle", "SentArticle")",
                    type: "POST",
                    cache: false,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(checkedList),
                    success: function (data) {
                        alert(data);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });

            });

        });
    </script>
}

