
<div class="modal fade" id="add-faculty" tabindex="-1" role="dialog" aria-labelledby="addFacultyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFacultyLabel">افزودن پوهنځی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">نام پوهنځی </label>
                            <input class="form-control " type="text" name="FacultyName" id="FacultyName" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">نام پوهنځی به انگلیسی</label>
                            <input class="form-control " type="text" name="FacultyNameEnglish" id="FacultyNameEnglish" autocomplete="off">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer float-right">
                    <button type="button" id="btnFacultyform" class="btn btn-primary" data-dismiss="modal">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</div>