@model AddOrEditArticleViewModel
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-member">
        افزودن عضو جدید
    </button>*@

<!-- Modal -->
<div class="modal fade" id="add-member" tabindex="-1" role="dialog" aria-labelledby="addMemberLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberLabel">افزودن عضو</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">نام کامل</label>
                            <input class="form-control " type="text" name="FullName" id="FullName" autocomplete="off">
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">ایمیل</label>
                            <input class="form-control " type="text" name="Email" id="Email" autocomplete="off">
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">شماره تماس</label>
                            <input class="form-control" type="text" name="PhoneNo" id="PhoneNo" autocomplete="off">
                        </div>
                    </div><!-- col-3 -->
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">درجه تحصیلی</label>
                            <select class="form-control" asp-items="Model.Degree" name="DegreeId" id="DegreeId"></select>
                        </div>
                    </div><!-- col-3 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">رشته تحصیلی</label>
                            <select class="form-control" asp-items="Model.EducationField" name="EducationFieldId" id="EducationFieldId" ></select>
                        </div>
                    </div><!-- col-3 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">پوهنځی</label>
                            <select class="form-control" asp-items="Model.FacultyList" name="FacultyList" id="FacultyId"></select>
                        </div>
                    </div><!-- col-3 -->
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" id="btnSubmitform" class="btn btn-primary" data-dismiss="modal">ثبت</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                </div>
            </div>

        </div>
    </div>
</div>